{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="w-100 o-items-section" >
    <div class="order-head p-2">
        <h3 class="text-capitalize text-dark ">Order Summary</h3>
    </div>
<div class="d-flex all-items">
  
    <div class="col-8 left order-items">
        
        {% if not cart.products.all %}
        <div class="alert alert-primary" role="alert">
            <strong>No items in your cart</strong>
        </div>
        
       {% else %}
        {% for  product in cart.products.all  %}
        <div class="each-item d-flex">
            <a href="{% url 'product:remove' product.pk %}" class="text-danger remove-item"><i class="ri-close-line"></i></a>
            <div class="left-item-image"></div>
            <div class="right-info">
                {% comment %} <span class="cart-item-price">(Rs. {{product.price}})</span> {% endcomment %}
                <p class="text-capitalize item-title">{{product.title}} </p>
                <div class="d-flex align-content-center "><i class="ri-check-fill"></i><p class="text-capitalize ">click and collect</p></div>
                <div class="d-flex align-content-center"><i class="ri-check-fill"></i><p class="text-capitalize  ">home delivery</p></div>
                <hr>
                <div class="quantity-div d-flex">
                    <p class="qty">Qty:</p>
                    <div class="quantity-inner-div d-flex ">
                        <button class="incre">+</button>
                        <input class="quantity" id="{{ product.id }}" type="number" value="1">
                        <button class="decre">-</button>
                    </div>
                    <p class="price-amount">{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="check-ship-div">
        <div class="amount-total-summary amount-total right">
            
            <div>
                <p class="subtotal">subtotal:<span class="totalam">0.00<span></p>
                <p class="text-capitalize">delivery</p>
                <hr>
                <div>
                    <p class="f-total-head">total:<span class="totalam final-total">0.00</span></p>
                </div>
                <hr>
                <form id="checkoutForm" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="getCheckoutUrl()">Confirm Order</button>
                </form>

            </div>
        </div>

        <div class="shipping-box mt-2">
            <h3 class="text-capitalize ml-2"><i class="ri-truck-fill"></i> Shipping details</h3>
            {% if email is not None %}
            <p class="mt-3"><i class="ri-mail-fill"></i> {{ email }}</p>
            <hr>
            {% endif %}
            {% if address is not None %}
                <p class="text-capitalize "><i class="ri-map-pin-2-fill"></i>  {{ address }} .</p>
                <hr>
            {% endif %}
            {% if specific_details is not None %}
                <p><i class="ri-sticky-note-fill"></i> {{ specific_details }} </p>
            {% endif %}

        </div>

    </div>
</div>

</section>
{% comment %} <section class="cart-detail">
        <div class="cart-content container-flex justify-content-center align-items-center py-4">
            <h3 class="text-center py-2">Your Order</h3>
            <div class="row bg-danger ">
                {% for product in cart.products.all %}
                   <div class="product-detail container d-flex justify-content-center align-items-center my-3">
                        <div class="col-lg-3">
                            <img src="../{{product.image.url}}">
                        </div>
                        <div class="col-lg-2">
                            <p class="pt-2">{{product.title}}</p>
                        </div>
                        <div class="col-lg-2">
                            <p class="pt-2">{{product.price}}</p>
                        </div>
                        <div class="col-lg-2">
                            <div class="counter container d-flex justify-content-center">
                                <button class="incre btn d-flex justify-content-center mx-1">+</button>
                                <input class="quantity mx-1 " id="{{product.id}}" type="number" value="0">
                                <button class="decre btn d-flex justify-content-center mx-1">-</button>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <a href="../product/remove/{{product.pk}}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                   </div><!-- end product-detail -->
                {% endfor %}
            </div>
            <div class="checkout-btn row py-2">
                <button class="btn" type="button" value="checkout" onclick="toggleElement('checkout', 'block')">Checkout</button>
            </div>
        </div><!-- end cart-content -->

        <section class="checkout" id="checkout">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="container-flex d-flex justify-content-center align-items-center">
                    <div class="close py-1">
                        <i class="fa fa-close" onclick="toggleElement('checkout', 'none')"></i>
                    </div>
                    <form class="p-4" method="post" id="checkout_form">{% csrf_token %}
                        <div class="col-lg-6 py-3">
                            {{checkout_form.email}}
                        </div>
                        <div class="col-lg-6 py-3">
                            {{checkout_form.address}}
                        </div>
                        <div class="col-lg-6 py-3">
                            {{checkout_form.specific_details}}
                        </div>
                        <div class="col-lg-6 py-2">
                            <button class="btn" type="submit" value="submit" onclick="getCheckoutUrl()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
</section><!-- end cart-detail --> {% endcomment %}
{% endblock %}

