{% load static %}
<section class="carousel">
    <div class="carousel-items container-flex p-0 m-0">
        <div class="slide-controllers d-flex align-items-center container-flex w-100">
            <span class="left" id="prev" onclick="prev()">
                <i class="fa fa-arrow-left"></i>
            </span>
            <span class="right" id="next">
                <i class="fa fa-arrow-right" onclick="next()"></i>
            </span>
        </div>
        <div class="slides" id="slide-1">
            <div class="overlay-carousel">
            <div class="container-flex d-flex justify-content-center align-items-center">
                <div class="col-lg-8 mx-2">
                    <div class="carousel-text">
                        <h1 class="py-2">POV</h1>
                        <h3 class="py-2">House Of Customization</h3>
                        <h3 class="py-2">Crafting Uniqueness, Delivering Satisfaction: Where Customizability Meets Variety!</h3>
                        <div class="carousel-btn d-flex justify-content-center mt-4 p-0 mx-0">
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="slides" id="slide-2">
            <div class="overlay-carousel">
            <div class="container-flex d-flex justify-content-center align-items-center">
                <div class="col-lg-8 mx-2">
                    <div class="carousel-text">
                        <h1 class="py-2">POV INTRO</h1>
                        <h3 class="py-2">We are a group of enthusiastic individuals committed to delivering customized products and services to our clients.</h3>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="slides" id="slide-3">
            <div class="overlay-carousel">
            <div class="container-flex  d-flex justify-content-center align-items-center">
                <div class="col-lg-8 mx-2">
                    <div class="carousel-text">
                        <h1 class="py-2">Quality Standards</h1>
                        <h3 class="py-2">Our dedication is to surpass your expectations, ensuring that each product we provide mirrors your unique style and vision.</h3>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section><!-- end carousel -->