{% load static %}

<section class="collection-section">
    <div class="collection-items">
        <div class="top-men-section">
            <div class="men-section-left">
                <h5 class="mens-collection-heading">Mens Collection</h5>
                <h5><a href="#" class="explore-anchor">Explore More <i class="ri-arrow-right-line"></i></a></h5>
            </div>
            <div class="men-section-right"></div>
        </div>
        <div class="bottom-women-section">
            <div class="women-section-left"></div>
            <div class="women-section-right">
                <h5 class="womens-collection-heading">Women's Collection</h5>
                <h5><a href="#" class="explore-anchor">Explore More <i class="ri-arrow-left-line"></i></a></h5>
            </div>
        </div>
    </div>
</section>