{% load static %}

    <div class="product-heading-home">
    <h1>Our popular products</h1>
    </div>
<div class="product-container">
    <div class="categories-sec">
        <div class="p-image-box">
            <img src='{% static "images/Hoodie(final).jpg" %}' alt="">
        </div>
        <div class="p-text-div">

        <a class="d-flex" href="/products/list/7"><p>Hoodies <i class="ri-arrow-right-line"></i></p></a>
        </div>
    </div>
    <div class="categories-sec">
        <div class="p-image-box">
            <img src='{% static "images/sweatShirtimg.jpg" %}' alt="">
        </div>
        <div class="p-text-div">
        <a class="d-flex" href=""><p>sweat shirt <i class="ri-arrow-right-line"></i></p></a>
        </div>

    </div>
    <div class="categories-sec">
        <div class="p-image-box">
            <img src='{% static "images/T-shirts.jpg" %}' alt="">
        </div>
        <div class="p-text-div">
        <a class="d-flex" href="/products/list/5"><p>T shirt & Gym wear <i class="ri-arrow-right-line"></i></p></a>
        </div>
    </div>
</div>